/******************************TAG SELECTORS**************************/
/*selector {property:value;}*/
/*Who? {What?:How?;}*/
/*all body background*/
body {
  background-color: #FECD70;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  /*If I put only margin: 0px means that all the margin should be 0*/
}
/*header 1*/
h1{
  color: #674747;
  padding-left: 8px;
  font-style: Overpass;
}

/*line*/
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 5px;
  width: 5%;
}
div{
  background-color: #fcebe1;
/*here padding should be used instead margin because padding refer to the space in the content in div, instead margin refers to out */
  padding-left: 8px;
}
/*Class and Id overwrite the style specified in the tags*/
/******************************CLASS SELECTORS**************************/
/*use class if I want to assign the style to a specific group of elements*/
top_container{
  background-color: #fcebe1;
/*here padding should be used instead margin because padding refer to the space in the content in div, instead margin refers to out */
  padding-left: 8px;
}
middle_container{
  background-color: #FECD70;
/*here padding should be used instead margin because padding refer to the space in the content in div, instead margin refers to out */
  padding-left: 8px;
}


.moodfood_logo
{
  background-color: #FECD70;
}

.circular
{
  border-radius:100%;
}
.moodfood_main_picture
{
  background-color: green;
}
.confirm_button {
  margin-left: 8px;
}
.confirm_button:hover {
  background-color: purple;
}
/******************************ID SELECTORS**************************/
/*use id if I want to assign the style to a specific element.You can't specify more then one time the id*/
#heading
{
  color: blue;
}
