/******************************TAG SELECTORS**************************/
/*selector {property:value;}*/
/*Who? {What?:How?;}*/
/*all body background*/
body {
  background-color: #FECD70;
}
/*header 1*/
h1{
  color: #674747;
}
/*line*/
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 5px;
  width: 5%;
}
/*
img {
  background-color: red;
}
*/
/******************************CLASS SELECTORS**************************/
.moodfood_logo
{
  background-color: red;
}

.moodfood_main_picture
{
  background-color: green;
}
/******************************ID SELECTORS**************************/
#heading
{
  color: blue;
}
